body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

@keyframes fade-out {
    99% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
    position: absolute;
    left: 0;
    top: 0;
}

.leaflet-container {
    overflow: hidden;
    height: 100%;
}
